@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-lucida: "Lato", sans-serif;
  --color-light-gray: #fff8e1;
  --color-dark-gray: #ada2ff;
  --color-gray-blue: #c0deff;
  --color-pink: #ffe5f1;
  --color-black: #080a0c;
  --black: #252525;
}
