@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-lucida: 'Lato', sans-serif;
    --color-light-gray: #BCC4C8;
    --color-dark-gray: #575B61;
    --color-gray-blue: #6A7A9E;
    --color-pink: #E9B9BB;
    --color-black: #080A0C;
    --black: #252525;
}